<% provide(:title, "Home") %>
<div class="jumbotron">
<h1>Smart Speed</h1>

<p class="lead">Ever wondered how much to speed on an unfamiliar street? Never wonder again. Get crowdsourced local speed intuition with Smart Speed.</p>

<a class="btn btn-large btn-success" href="#">Whoa, what?</a>
</div>

<div class="lorem">
<%= render 'layouts/lorem' %>
</div>