<% provide(:title, 'All') %>
<h1>All guesses</h1>

<div class="row">

<ul class="guesses">
  <%= render :partial => 'guesses', locals: { :guesses => @guesses } %>
	<%= will_paginate @guesses %>
  <%= page_entries_info @guesses, :model => "guesses" %>
</ul>

</div>

