<% provide(:title, 'All') %>
<h2 class="cheader">All guesses</h2>

<div class="row">

<ul class="guesses">
  <%= render :partial => 'guesses', locals: { :guesses => @guesses } %>
	<%= will_paginate @guesses %>
  <%= page_entries_info @guesses, :model => "guesses" %>
</ul>

</div>

