<% provide(:title, "Go #{@guess.speed}") %>
<div class="row">
  <aside class="col-sm-4">
    <section>
      <h3>
Keep it around <%= @guess.speed %>
      </h3>

	<%= render 'guess' %>

    </section>
  </aside>
  
  <div class="col-sm-8">
	<div class="container">
    <h3>Map</h3>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@guess.latitude}%2C#{@guess.longitude}" %>
	</div>
  </div>
</div>
