<div id="footer">
    <div class="container">
      <p class="muted credit">a <a href="http://twitter.com/Chellberg">Corin Chellberg</a> <a href="http://github.com/chellberg">work in progress</a>.</p>
    </div>
  </div>