<%= form_tag(search_guesses_path, method: "get", class: "navbar-form navbar-right", role: "search") do %>
<div class="form-group">
  <%= text_field_tag(:search, "", class: "form-control") %>
</div>
  <%= submit_tag("Search", class: "btn btn-default") %>
<% end %>
